* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

#board-header {
    display: flex;
    flex-direction: row;
    font-size: x-large;
    font-weight: 500;
}

#board-header > div {
    flex: 1 1 33.3%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
    //border-left: 2px solid black;
    border: 2px solid black;
}

#board-header > div > button {
    width: 60px;
    height: 40px;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: x-large;
}

img{
    margin: 2px;
    height: 20px;
}

.col-header {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.col-header > div {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

#board {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#board > .content-column {
    flex: 1 1 33.3%;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
}


.content-column > .card {
    width: 95%;
    text-align: center;
    margin: 2.5%;
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.card > .control-div {
    margin: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.nav-btn {
    border-radius: 3px;
    margin: 2px;
    height: 20px;
    width: 20px;
}
