* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 98%;
    height: 98%;
    padding: 1%;
}

#board-header {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    background-color: lightblue;

    padding: 10px;

}

#board-header > div {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;

}

#board-header > div > button {
    width: 50px;
}

img{
    width: 20px;
}

.col-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: tan;
    border-bottom: 5px solid white;
}

.col-header > div {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.col-header > div > button {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    margin: 2px
}

#board {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    background-color: lightgreen;
    padding: 10px;
}


.content-column > div {
    width: 98%;
    text-align: center;
    margin: 5px;
}

.nav-btn {
    border-radius: 3px;
    margin: 5px;
    padding: 4px;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.content-column{
    width: 33.3%;
    display: flex;
    flex-direction: column;
}
