* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}


html {
    height: 98%;
}

body {
    height: 98%;
    padding: 10px;
}

#board-header {
    display: flex;
    flex-direction: row;
    background-color: lightblue;
    font-size: x-large;
    font-weight: 500;
}

#board-header > div {
    flex: 1 1 33.3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-left: 5px solid royalblue;
}

#board-header > div:last-child {
    border-right: 5px solid royalblue;
}

#board-header > div > button {
    width: 60px;
    height: 40px;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: xx-large;
}

#spacer{
    width: 100%;
    height: 5px;
    background-color: royalblue;
}

img{
    width: 20px;
}

.col-header {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.col-header > div {
    display: flex;
    justify-content: center;
}

.col-header > div > button {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    margin: 2px
}

#board {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: lightblue;
    height: 92%;
}


#board > div:last-child {
    border-right: 5px solid royalblue;
}

.content-column > div {
    width: 98%;
    text-align: center;
    margin: 5px;
    background-color: yellow;
    border-radius: 10px;
}

#column-2 > div {
    background-color: greenyellow;
}

.nav-btn {
    border-radius: 3px;
    margin: 5px;
    padding: 4px;
    font-size: x-large;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card > p {
    width: 80%;
    word-wrap: normal;
}

.content-column{
    flex: 1 1 33.3%;
    border-left: 5px solid royalblue;
    display: flex;
    flex-direction: column;
}
